/* Word Count */
.word-count {
    background: var(--dark);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    padding: 48px;
  }
  
  .word-count h1 {
    font-size: 64px;
    margin-bottom: 15px;
    color: var(--light);
  }
  
  .word-box {
    display: grid;
  }
  
  .count-settings {
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 16px;
  }
  
  .count-setting .limited {
    margin: 16px 0 16px 0; 
    color: var(--light);
    
  }
  
  .kw-count {
    margin-bottom: 10px;
    height: 24px;
  }
  
  #max-words {
    height: 24px;
  }
  
  .count-button {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px 16px 0 5px;
  }
  
  .word-content {
    display: grid;
    color: var(--light);
    text-align: left !important;
  }
  
  .word-content h4 {
    text-transform: uppercase;
  }